<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Master</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Tasks Master</h1>
    <h2>Welcome, {{ username }}</h2>
    <a href="{{ url_for('logout') }}">Logout</a>
    <table border="1">
        <thead>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
                <th>Time Per Tasks </th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.task }}</td>
                <td>{{ task.added }}</td>
                <td>
                    <form style="display: inline;" action="{{ url_for('delete_task', task_id=loop.index0) }}" method="get">
                        <button type="submit">Delete</button>
                    </form>
                    <form style="display: inline;" action="{{ url_for('update_task', task_id=loop.index0) }}" method="post">
                        <input type="text" name="task" placeholder="New Task" required>
                        <button type="submit">Update</button>
                    </form>
                </td>
                <td>
                    <!-- Dropdown Menu for Time -->
                    <form style="display: inline;" action="{{ url_for('set_task_time', task_id=loop.index0) }}" method="post">
                        <select name="time" required>
                            <option value="15">15 minutes</option>
                            <option value="30">30 minutes</option>
                            <option value="60">60 minutes</option>
                        </select>
                        <button type="submit">Set Time</button>
                    </form>
                </td>
 
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{{ url_for('add_task') }}" method="post">
        <input type="text" name="task" placeholder="Add a new task" required>
        <button type="submit">Add Task</button>
    </form>
</body>
</html>